<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RV_FaceRecognition.Properties.Settings.rv_facerecognitionConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=rv_facerecognition;Persist Security Info=True;User ID=RVADMIN;Password=RV-FR2023;Encrypt=false"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>